<h1>All Locations</h1>
<ul>
{{#each groupOfLocations}}

  <br>
  <li>
    <a href="/location/{{_id}}">
      <p> {{state}}</p>
      
        <img src="{{pictures}}" alt="">
      </p>
    </a>
  </li>
  
  {{/each}}
</ul>
