<h1>All Locations</h1>
<ul>
 {{#each listOfLocations}}
  
  <li>
    <a href="/location/{{_id}}">
      <p>state:{{state}} </p>
    </a>
  </li>
  
 
{{/each}}
<li>
  <a href="">Alabama</a>
</li>
<br>
<li>
  <a href="">Georgia</a>
</li>
<br>
<li>
  <a href="">Florida</a>
</li>


</ul>