
<h1>Create New User</h1>

<form action="/user" method="POST">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" name="lastName" placeholder="First Name" />
    </div>
    <br>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" placeholder="Last Name" />
    </div>
    <br>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username" />
    </div>
    <br>
    <div>
        <label for="companyname">Company Name:</label>
        <input type="text" name="companyName" placeholder="Company Name" />
    </div>
    <br>
    <div>
        <label for="profilepicture">Profile Image:</label>
        <input type="text" name="profileImage" placeholder="Profile URL" />
    </div>
    <br>

     <button type="submit">SAVE</button>
</form>
</ul>
