body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(225, 168, 177);
}

a {
  color: #00B7FF;
}

.nav-bar {
 margin-left: auto;
}

.table{
  margin-top: 5%;
  margin-left: 7%;
  position: relative;
  
}
.imageborder{
  border: solid wheat 10px;
 
 
}

.container{
  background-color:  rgb(225, 168, 177, 1) ;
  margin-top: -34%;
  margin-left:35%;
  color:white;
  border: solid gray 5px;
  position: absolute;
  width: 650px;
  height: 279px;
}
#greeting{
  font-size: 30px;
}

.images{
  width: 65%;
  height: 65%;
  justify-content: flex-start;
  border: solid wheat;
  margin-left: 270px;

 }
.photodiv{
  border: solid 4px wheat;
  display: flex;
  flex-wrap: wrap
}
.happyphotos{

  width: 50%;
  height: 50%;
  justify-content: flex-start;
  border: solid white;

}

#happyphoto1{
  height: 513px;
  
}

#happyphoto2{
  height:499px;
}

#happyphoto3{
  height:500px;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px #000000 ;

}
.profilepics{
  width: 20%;
  height: 30%;
  margin:5%;
  
  border: solid wheat 5px;
}

.userinfo{
  font-size: 25px;
  color: white;
  text-shadow: #000000;
  padding-left: 10px;
 
  
   

  
 
  
}
.usercontainer{
  background: 	rgb(255,250,250);
  border: solid wheat 3px;
}
.personalcontainer{
  background: rgb(255,228,225);
  width: 400px;
  color: white;
  text-shadow: #000000;
  font-weight: bold;
  padding: 20px;
  font-size:25px;
  border: solid wheat;
  
}
.usercontainerindex{
  background: rgb(255,228,225);
  width: 500px;
  color: white;
  text-shadow: #000000;
  font-weight: bold;
  padding: 20px;
  font-size:25px;
  border: solid wheat;
  margin-bottom: 30px;
  margin-left:70px;

}

.button{
  background:green;
  padding:10px;
  margin-bottom: 10px;
  margin-left:10px;
}
.personalbutton{
padding-bottom:15px;
margin-top: 10px;
text-align: center;



}
.indprofilepics{
  margin-right: 30px;
  width: 20%;
  height: 30%;
  
  border: solid wheat 5px;
}
.company{
  text-transform: uppercase;
}

.update{
  background:green;
  margin-bottom: 10px;
}

#locationcontainer{
  font-size: 30px;
  text-transform: uppercase;
  color:wheat;
  text-shadow: black;
}
.locationpicture{
  width: 75%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  border: solid white;
}

.statebutton{
  margin: 30px 50px 75px 690px;
  font-size:35px;
  text-transform: uppercase;
  background: white;
  color:wheat;
  border:solid wheat 2px;
}