body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(225, 168, 177);
}

a {
  color: #00B7FF;
}

.nav-bar {
 margin-left: auto;
}

.table{
  margin-top: 5%;
  margin-left: 7%;
  position: relative;
  
}
.imageborder{
  border: solid wheat 10px;
 
 
}

.container{
  background-color:  rgb(225, 168, 177, 1) ;
  margin-top: -34%;
  margin-left:35%;
  color:white;
  border: solid gray 5px;
  position: absolute;
  width: 650px;
  height: 279px;
}
#greeting{
  font-size: 30px;
}

.images{
 width: 500px;
 height: 500px; 
}
.photodiv{
  border: solid 4px wheat;
  display: flex;
  flex-wrap: wrap
}
.happyphotos{

  width: 50%;
  height: 50%;
  justify-content: flex-start;
  border: solid white;

}

#happyphoto1{
  height: 478px;
  
}

#happyphoto2{
  height:466px;
}

#happyphoto3{
  height:468px;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px #000000 ;

}
.profilepics{
  width: 20%;
  height: 30%;
  margin:5%;
  
  border: solid wheat 5px;
}

.userinfo{
  font-size: 25px;
  color: wheat;
  text-shadow: #000000;
  padding-left: 80px;
  /* margin-left: 35%; */
  
   

  
 
  
}
.usercontainer{
  background: 	rgb(255,250,250);
  border: solid wheat 3px;

}

.button{
  background:green;
  padding:10px;
  margin-bottom: 10px;
  margin-left:10px;
}